{extend name="public:public"}
{block name='title'}<title>DouPHP 管理中心</title>{/block}
<meta name="Copyright" content="Douco Design." />
{block name='script'}
{load href="/static/admin/css/public.css"}
{load href="/static/admin/js/jquery.min.js"}
{load href="/static/admin/js/global.js"}
{/block}
</head>
<body>
{block name='now'}
 <div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere">DouPHP 管理中心<b>></b><strong>添加分类</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
            <h3><a href="product_category" class="actionBtn">商品分类</a>添加分类</h3>
    <form action="add_product_category" method="post">
     <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
      <tr>
       <td width="80" align="right">分类名称</td>
       <td>
        <input type="text" name="cate_name" value="" size="40" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td align="right">别名</td>
       <td>
        <input type="text" name="cate_intro" value="" size="40" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td align="right">上级分类</td>
       <td>
        <select name="cate_pid">
         <option value="0">无</option>
           {foreach $cates as $list}
                 <option value="{$list.cate_pid}">{$list.cate_name}</option>
           {/foreach}
        </select>
       </td>
      </tr>
      <tr>
       <td align="right">关键字</td>
       <td>
        <input type="text" name="cate_keyword" value="" size="40" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td align="right">简单描述</td>
       <td>
        <textarea name="cate_desc" cols="60" rows="4" class="textArea"></textarea>
       </td>
      </tr>
      <tr>
       <td align="right">排序</td>
       <td>
        <input type="text" name="cate_order" value="50" size="5" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td></td>
       <td>
        <input type="hidden" name="token" value="b9439ae8" />
        <input type="hidden" name="cat_id" value="" />
        <input name="submit" class="btn" type="submit" value="提交" />
       </td>
      </tr>
     </table>
    </form>
       </div>
 </div>
 <div class="clear"></div>
{include file="public/footer"}
<div class="clear"></div> </div>
{/block}
</body>
</html>